a {
  color: #ffffff;
}

.no-paddings {
  padding: 0 !important;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
}

input {
  color: #ffffff;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.login-form form,
.register-form form {
  width: 50%;
}

.profile-card {
  margin-top: 25px;
}

.product-item {
  max-width: 350px;
}

.home-view {
  margin-top: 25px;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-title {
  background-color: #0000007d;
  padding: 10px !important;
  margin: 10px;
}

.home-loader-wrap {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}