a {
  color: #ffffff;
}

.no-paddings {
  padding: 0 !important;
}

.App {
  background-color: #282c34;
  color: #ffffff;
  min-height: 100vh;
}

.login-form {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.login-form form {
  width: 50%;
}